.row-flex {
    display: flex;
    flex-direction: row;
}

.column-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.generator-div {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 2px 0px rgba(86, 68, 68 , 0.5);
}
.shadow-generator {
    padding: 2rem;
    display: flex;
    gap: 0.6rem;
}

.controller {
    width: 25%;
    padding: 0.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
}

.input-group label {
    font-weight: 400;
}

.input-group input[type="range"], .input-group input[type="color"] {
    cursor: pointer;
}

.input-group:not(:last-child) {
    border-bottom: 2px solid rgb(183 176 176 / 30%)
}

input[type="range"] {
    accent-color: unset;
    margin-top: 0.4rem;
    accent-color: #32230f;
}

.display {
    padding: 1rem 2rem;
    width: 50%;
}

.model {
    position: relative;
    /* border: 1px solid rebeccapurple; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

.div-properties {
    width: 24%;
}

.label-group {
    gap: 0.2rem;
    justify-content: space-between;
    padding: 0 0.2rem;
}
.label-group input {
    width: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.get-code {
    padding: 2rem;
    text-align: center;
}

.btn {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #32230f;
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(86, 68, 68 , 0.5);
    border-radius: 0.2rem;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.overlay {
    background-color: rgba(0, 0, 0 , 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    padding: 1.7rem;
}

.code pre {
    padding: 1rem;
    background-color: #1e1e1e;
    font-size: 1rem;
    color: #96a57a;
    border-radius: 0.2rem;
}

.component-title {
    color: #32230f;
    margin-bottom: 0;
    text-align: center;
}

.btn-disabled, .btn-disabled:hover {
    background-color: #e9efef;
    color: rgb(34, 33, 33);
    border: 1px solid grey;
    box-shadow: inset 0px 0px 1px 0px #000000;
}

.close-popup {
    font-weight: bolder;
    transform: rotate(45deg);
    right: 1rem;
    top: 0;
    position: absolute;
    font-size: xx-large;
    cursor: pointer;
}

.styleAttribute {
    color: #69bfe5;
}

.endline {
    color: #ffffff;
}